<h5 class="separator">
  <span class="separator__title">Слідкуй за новинами</span>
</h5>

<div class="box box--news-letter">
  <form action="//aspirethemes.us12.list-manage.com/subscribe/post?u=9723f3c5c3a2637fbba3bc673&amp;id=7b50db9989" method="post" target="_blank">
    <div class="row">
      <div class="column small-9 large-9">
        <input type="email" name="EMAIL" placeholder="Введіть ваш email">
      </div>
      <div class="column small-3 large-3">
        <input type="submit" class="button button--expand" value="Підписатись">
      </div>
    </div>
  </form>
</div>