//---------------------------
//
// Colors
//
//---------------------------

$color__type: #333;
$color__type--hover: #7E7E7E;
$brand-color: #333;

$body-color: #333;
$grey-bg: #e6f2fa;
$addition-bg: #e6f2fa;
$border-color: #ECF0F1;
$border-color--darker: #DADFE1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;
$vk-brand: #45668e;